body.has-js::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    transition: all .2s;
    background: white url('../static/loader.gif') no-repeat center center / 50px;
  }
  body.loaded::before {
    opacity: 0;
    width: 0;
    height: 0;
  }