{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="page-title-area title-bg-six">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="title-item">
                        <h2>Blog</h2>
                        <ul>
                            <li>
                                <a href="{% url 'index' %}">Home</a>
                            </li>
                            <li>
                                <span>Blog</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="blog-area three ptb-100">
        <div class="container">
            <div class="row">
                {% for blog in blogs %}
                <div class="col-sm-6 col-lg-4">
                    <div class="blog-item">
                        <div class="top">
                            <a href="{% url 'blog-details' blog.id %}">
                                <img src="{{ blog.image1.url }}" alt="Blog">
                            </a>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>
                                    <i class="icofont-calendar"></i>
                                    <span>{{ blog.time }}</span>
                                </li>
                                <li>
                                    <i class="icofont-user-alt-3"></i>
                                    <span>By:</span>
                                    <a href="{% url 'blog-details' blog.id %}">{{ blog.author }}</a>
                                </li>
                            </ul>
                            <h3>
                                <a href="{% url 'blog-details' blog.id %}">{{ blog.title }}</a>
                            </h3>
                            <p>{{ blog.overview }}</p>
                            <a class="blog-btn" href="{% url 'blog-details' blog.id %}">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
           
            </div>
            <div class="pagination-area">
                <ul>
                    <li>
                        <a href="#">Prev</a>
                    </li>
                    <li>
                        <a class="active" href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

{% endblock content %}