{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="page-title-area title-bg-three">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="title-item">
                        <h2>{{ project.name }}</h2>
                        <ul>
                            <li>
                                <a href="">Home</a>
                            </li>
                            <li>
                                <span>Project Details</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="donation-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="details-item">
                        <div class="details-img">
                            <img src="{{ project.image.url }}" alt="Details">
                            <h2>{{ project.name }}</h2>
                            <p>{{ project.overview }}</p>
                            <p>{{ project.description }}</p>
                            
                            
                        </div>
                        <div class="details-share">
                            <div class="row">
                                <div class="col-sm-6 col-lg-6">
                                    <div class="left">
                                        <ul>
                                            <li>
                                                <span>Share:</span>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="icofont-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="icofont-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="icofont-youtube-play"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="icofont-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-6">

                                </div>
                            </div>
                        </div>
 
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget-area">
                        <div class="search widget-item">
                            <form>
                                <input type="text" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn">
                                    <i class="icofont-search-1"></i>
                                </button>
                            </form>
                        </div>
                        <div class="post widget-item">
                            <h3>Popular Post</h3>
                            <div class="post-inner">
                                <ul class="align-items-center">
                                    <li>
                                        <img src="{% static 'assets/img/blog/blog-details1.jpg' %}" alt="Details">
                                    </li>
                                    <li>
                                        <h4>
                                            <a href="#">Donate for nutrition less poor people</a>
                                        </h4>
                                        <p>By - <a href="#">Admin</a></p>
                                    </li>
                                </ul>
                            </div>
                            {% for blog in recents %}
                            <div class="post-inner">
                                <ul class="align-items-center">
                                    <li>
                                        <img src="{{ blog.image1.url }}" alt="Details">
                                    </li>
                                    <li>
                                        <h4>
                                            <a href="{% url 'blog-details' blog.id %}">{{ blog.title }}</a>
                                        </h4>
                                        <p>By - <a href="{% url 'blog-details' blog.id %}">{{ blog.author }}</a></p>
                                    </li>
                                </ul>
                            </div>
                            {% endfor %}
                            
                        </div>

                        <div class="instagram widget-item">
                            <h3>Instagram post</h3>
                            <div class="row m-0">
                                {% for instagram in instagram %}
                                <div class="col-4 col-sm-3 col-lg-4 p-0">
                                    <div class="instagram-item">
                                        <img src="{{ instagram.image.url }}" alt="Instagram">
                                        <a href="https://www.instagram.com/yapo_tanzania/">
                                            <i class="icofont-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}