{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="page-title-area title-bg-two">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="title-item">
                        <h2>Projects</h2>
                        <ul>
                            <li>
                                <a href="">Home</a>
                            </li>
                            <li>
                                <span>Projects</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="donations-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Projects Undertaken</span>
                <h2>Be the reason of someone smiles</h2>
                <p>Let’s attain a society that protects children
                    Help youth to attain their full life potential and community sustainable development.</p>
            </div>
            <div class="row">
                {% for project in projects %}
                <div class="col-sm-6 col-lg-4">
                    <div class="donation-item">
                        <div class="img">
                            <img src="{{ project.image.url }}" alt="Donation">
                            <a class="common-btn" href="{% url 'project-details' project.id %}">Read More</a>
                        </div>
                        <div class="inner">
                            <div class="top">
                                <h3>
                                    <a href="{% url 'project-details' project.id %}">{{ project.name }}</a>
                                </h3>
                                <p>{{ project.overview }}</p>
                            </div>
                            <div class="bottom">
                                <div class="skill">
                                    <div class="skill-bar skill1 wow fadeInLeftBig">
                                        <span class="skill-count1">{{ project.percent }}</span>
                                    </div>
                                </div>
                                <ul>
                                    <li>Raised: {{ project.raised_amount }}</li>
                                    <li>Goal: {{ project.goal_amount }}</li>
                                </ul>
                                <h4>Sponsored by <span>{{ project.sponsor }}</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>


    {% endblock content %}