{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="page-title-area title-bg-five">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="title-item">
                        <h2>{{ event.title }}</h2>
                        <ul>
                            <li>
                                <a href="{% url 'index' %}">Home</a>
                            </li>
                            <li>
                                <span>{{ event.title }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="event-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="details-item">
                        <div class="details-img">
                            <img src="{{ event.image.url }}" alt="Details">
                            <h2>{{ event.title }}
                            </h2>
                            <p>{{ event.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget-area">
                        <div class="search widget-item">
                            <form>
                                <input type="text" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn">
                                    <i class="icofont-search-1"></i>
                                </button>
                            </form>
                        </div>
                        <div class="information widget-item">
                            <h3>Event information</h3>
                            <ul>
                                <li>
                                    <span>Organizer:</span>
                                    {{ event.organizer }}
                                </li>
                                <li>
                                    <span>Start:</span>
                                    {{ event.start_time }}
                                </li>
                                <li>
                                    <span>Finish:</span>
                                    {{ event.finish_time }}
                                </li>
                                <li>
                                    <span>Location:</span>
                                    <a href="#">{{ event.location }}</a>
                                </li>
                                <li>
                                    <span>Phone:</span>
                                    <a href="tel:+123456789">{{ event.phone }}</a>
                                </li>
                                <li>
                                    <span>Email:</span>
                                    <a
                                        href="#"><span
                                            class="__cf_email__"
                                            data-cfemail="b9d1dcd5d5d6f9dfd0d7ddd697dad6d4">{{ event.email }}</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="common-right-content widget-item">
                            <h3>Categories</h3>
                            <ul>
                                <li>
                                    <a href="{% url 'events' %}">Education </a>
                                </li>
                                <li>
                                    <a href="% url 'events' %}">Entreprenuership </a>
                                </li>
                                <li>
                                    <a href="% url 'events' %}">National Meeting </a>
                                </li>
                                <li>
                                    <a href="% url 'events' %}">Tour </a>
                                </li>
                            </ul>
                        </div>
                        <div class="instagram widget-item">
                            <h3>Instagram post</h3>
                            <div class="row m-0">
                                <div class="col-4 col-sm-3 col-lg-4 p-0">
                                    <div class="instagram-item">
                                        <img src="{% static 'assets/img/blog/instagram1.jpg' %}" alt="Instagram">
                                        <a href="#">
                                            <i class="icofont-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-3 col-lg-4 p-0">
                                    <div class="instagram-item">
                                        <img src="{% static 'assets/img/blog/instagram2.jpg' %}" alt="Instagram">
                                        <a href="#">
                                            <i class="icofont-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-3 col-lg-4 p-0">
                                    <div class="instagram-item">
                                        <img src="{% static 'assets/img/blog/instagram3.jpg' %}" alt="Instagram">
                                        <a href="#">
                                            <i class="icofont-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-3 col-lg-4 p-0">
                                    <div class="instagram-item">
                                        <img src="{% static 'assets/img/blog/instagram4.jpg' %}" alt="Instagram">
                                        <a href="#">
                                            <i class="icofont-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-3 col-lg-4 p-0">
                                    <div class="instagram-item">
                                        <img src="{% static 'assets/img/blog/instagram5.jpg' %}" alt="Instagram">
                                        <a href="#">
                                            <i class="icofont-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-3 col-lg-4 p-0">
                                    <div class="instagram-item">
                                        <img src="{% static 'assets/img/blog/instagram6.jpg' %}" alt="Instagram">
                                        <a href="#">
                                            <i class="icofont-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}