{% load static %}
<footer class="footer-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a class="logo" href="{% url 'index' %}">
                            <img src="{% static 'assets/img/logo-two.png' %}" alt="Logo">
                        </a>
                        <p>Youth Aid Education Possible Changes Organization (YAPO)</p>
                        <ul>
                            <li>
                                <a href="https://web.facebook.com/yapo.tanzania" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/tanzaniayapo" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCvbjXWTEpbUYLg6IA7nJWWg" target="_blank">
                                    <i class="icofont-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/yapo_tanzania/" target="_blank">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>class="icofont-twitter"
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-causes">
                        <h3>Why YaPo</h3>
                        <div class="cause-inner">
                            <ul class="align-items-center">
                                <li>
                                    <img src="{% static 'assets/img/footer-thumb1.jpg' %}" alt="Cause">
                                </li>
                                <li>
                                    <h3>
                                        <a href="{% url 'about' %}">Eliminate Discrimination</a>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                        <div class="cause-inner">
                            <ul class="align-items-center">
                                <li>
                                    <img src="{% static 'assets/img/footer-thumb2.jpg' %}" alt="Cause">
                                </li>
                                <li>
                                    <h3>
                                        <a href="{% url 'about' %}">Make A Strong Nation</a>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-links">
                        <h3>Quick links</h3>
                        <ul>


                            <li>
                                <a href="{% url 'about' %}">
                                    <i class="icofont-simple-right"></i>
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'blog' %}">
                                    <i class="icofont-simple-right"></i>
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'events' %}">
                                    <i class="icofont-simple-right"></i>
                                    Events
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'gallery' %}">
                                    <i class="icofont-simple-right"></i>
                                    Gallery
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'project' %}">
                                    <i class="icofont-simple-right"></i>
                                    Projects
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-contact">
                        <h3>Contact info</h3>
                        <div class="contact-inner">
                            <ul>
                                <li>
                                    <i class="icofont-location-pin"></i>
                                    <a href="{% url 'contact' %}">Plot No 154, Block C, Pwani Street 14122 Kunduchi Ward, Dar Es Salaam- Tanzania. 
                                    </a>
                                </li>
                                <li>
                                    <i class="icofont-ui-call"></i>
                                    <a href="tel:+255717311984">+255 717 311 984</a>
                                </li>
                            </ul>
                        </div>
                        <div class="contact-inner">
                            <ul>
                                <li>
                                    <i class="icofont-location-pin"></i>
                                    <a href="#"> P.O BOX 13592</a>
                                </li>
                                <li>
                                    <i class="icofont-ui-call"></i>
                                    <a href="tel:+255717311984">+255 717 311 984 </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <p>Copyright ©2021 YaPo.
            </p>
        </div>
    </div>
</footer>


<div class="go-top">
    <i class="icofont-arrow-up"></i>
    <i class="icofont-arrow-up"></i>
</div>