{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="page-title-area title-bg-nine">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>Gallery</h2>
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li>
                            <span>Gallery</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="gallery-area ptb-100">
    <div class="container">
        <div class="row">
            {% for gallery in gallerys %}
            <div class="col-sm-6 col-lg-4">
                <div class="gallery-item">
                    <a href="{{ gallery.image.url }}" data-lightbox="roadtrip">
                        <img src="{{ gallery.image.url }}" alt="Gallery">
                        <i class="icofont-eye"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
      
        </div>
        <div class="pagination-area">
            <ul>
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a class="active" href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}