{%load static %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/js/form-validator.min.js' %}"></script>

<script src="{% static 'assets/js/contact-form-script.js' %}"></script>

<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

<script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>

<script src="{% static 'assets/js/jquery-modal-video.min.js' %}"></script>

<script src="{% static 'assets/js/wow.min.js' %}"></script>

<script src="{% static 'assets/js/lightbox.min.js' %}"></script>

<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

<script src="{% static 'assets/js/odometer.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.appear.min.js' %}"></script>

<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>

<script src="{% static 'assets/js/custom.js' %}"></script>